/* Too much leading in the default h4 */
h4 {
	letter-spacing: 0.0625em;
}
/* Float an image to the left */
img.left {
	float: left;
	padding-right: 1.65em;
}
/* Float an image to the right */
img.right {
	float: right;
	padding-left: 1.65em;
}
/* Add an icon for Online Giving. */
.icon-giving:before {
	content: "$";
	font-weight: bold;
}
/* Add an icon for Pinterest */
.icon-pinterest:before {
	content: "P";
	font-weight: bold;
}
/* Change the colors of the top links bar. Search form still needs work. */
#mobile-open, #metanav {
	background-color: rgba(33, 40, 41, 1);
}
#metanav .top-links li a, #search_term, #subnav > li > a, #subnav > li > ul > li > a:hover, #subnav > li > ul > li > ul > li > a:hover, #subnav > li > ul > li > ul > li.current > a {
	color: #fff;
}
#searchForm {
	background-color: rgba(254, 254, 254, 0.8);
}
/* On the homepage, can the second section of featured blog posts have an alternative layout? */
body.homepage div#outer-wrap div#wrap div#inner-wrap div#content.fullwidth div.content-section.dark div.content-section-inner div.container div.widget.posts article.div-col-2 div.info.div-col {
	float: right;
	margin: 0 -5.88235% 0 0;
}
/* In dark sections, hyperlinks within text need to look like hyperlinks. */ 
div.content-section.dark p a {
	font-weight: bold;
}
/* Hide the All Articles Menu item that is needed for the Weekly Bullletin link to work. */
li#nav-events_happenings_news-articles {
	display: none;
}
/* Reduce padding above WYSIWYG Section Titles in Full-width sections, i.e. pages with index.php template. */
#content .content-section .content-section-inner {
	padding: 2em 5% 5em;
}
/* Adjusting the left margin when more than 9 items in a 3 column grid e.g. staff lists */
#content .content-section .widget.featured article.pos-10, #content .content-section .widget.featured article.pos-13, #content .content-section .widget.featured article.pos-16, #content .content-section .widget.featured article.pos-19, #content .content-section .widget.featured article.pos-22 {
	margin-left: 0;
}
/* Changing the color of text "Search" in the search form.*/
form#searchForm fieldset input#search_term.clearClick {
	color: rgb(33, 40, 41);
}
/* From Monk to hide event groups */
p.meta.group {
	display: none;
	visibility: hidden;
}
/* Hide page title over header image */
div#billboard.hasimage h1 {
	display: none;
	visibility: hidden;
}
/* Block of images in sidebar, 2 columns. e.g. The static Instagram feed on the I'm New page */
div.media-grid div.left {
	float: left;
	margin: 0 .25em .5em 0;
}
div.media-grid div.right {
	float: right;
	margin: 0 0 .5em .25em;
}
div.media-grid:after {
	content: "";
	display: table;
	clear: both;
}
div.media-grid img {
	max-width: 100%;
	height: auto;
	margin-bottom: .25em;
}
/* AM/PM and other small caps */
.small-cap {
	font-variant: small-caps;
}
/* three columns for Google-Drive based photo galleries and such */
article.b4-gallery {
  -webkit-columns: 3 325px;
     -moz-columns: 3 325px;
          columns: 3 325px;
}

/***************************
MEDIA QUERIES
***************************/
/* medium screen */
@media only screen and (max-device-width : 768px) {
div.media-grid {
	max-width: 300px;
}
}

/* small screen */
@media only screen and (max-device-width : 479px) {
img.left, img.right {
	padding-bottom: 1em;
}
}