/******************************************
VENDOR RECOMNEDATION TO FIX "IPAD" CROWDING
******************************************/
.container {
  padding: 0 2.5%;
}
/*****************
B4CHURCH OVERRIDES
*****************/
/* Make ALL the bullets go away */
#content ul li {
  list-style: outside none none;
}
/* Too much leading in the default h4 */
h4 {
  letter-spacing: 0.0625em;
}
/* Float an image to the left */
img.left {
  float: left;
  padding-right: 1.65em;
}
/* Float an image to the right */
img.right {
  float: right;
  padding-left: 1.65em;
}
div.left {
  text-align: left;
}
/* Add an icon for Pinterest */
.icon-pinterest:before {
  content: "P";
  font-weight: bold;
}
/* Add an icon for Service Times */
.icon-time::after {
  font: sans-serif;
  content: "T";
}
/* Change the colors of the top links bar. Search form still needs work. */
#mobile-open, #metanav {
  background-color: rgba(33, 40, 41, 1);
}
#metanav .top-links li a, #search_term, #subnav > li > a, #subnav > li > ul > li > a:hover, #subnav > li > ul > li > ul > li > a:hover, #subnav > li > ul > li > ul > li.current > a {
  color: #fff;
}
#searchForm {
  background-color: rgba(254, 254, 254, 0.8);
}
/* On the homepage, can the second section of featured blog posts have an alternative layout? */
body.homepage div#outer-wrap div#wrap div#inner-wrap div#content.fullwidth div.content-section.dark div.content-section-inner div.container div.widget.posts article.div-col-2 div.info.div-col {
  float: right;
  margin: 0 -5.88235% 0 0;
}
/* In sections, hyperlinks within text need to look like hyperlinks. */ 
div.container p a {
  font-weight: bold;
}
div.container a:hover {
  text-decoration: underline;
}
/* Unordered list items without bullets */
.no-bullet {
  list-style: none;
}
/* Hide the All Articles Menu item that is needed for the Weekly Bullletin link to work. */
li#nav-events_happenings_news-articles {
  display: none;
}
div.short {
  max-height: 1px;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* Reduce padding above WYSIWYG Section Titles in Full-width sections, i.e. pages with index.php template. */
#content .content-section .content-section-inner {
  padding: 2em 5% 5em;
}
/* Adjusting the left margin when more than 9 items in a 3 column grid e.g. staff lists */
#content .content-section .widget.featured article.pos-10, #content .content-section .widget.featured article.pos-13, #content .content-section .widget.featured article.pos-16, #content .content-section .widget.featured article.pos-19, #content .content-section .widget.featured article.pos-22 {
  margin-left: 0;
}
/* Changing the color of text "Search" in the search form.*/
form#searchForm fieldset input#search_term.clearClick {
  color: rgb(33, 40, 41);
}
/* From Monk to hide event groups */
p.meta.group {
  display: none;
  visibility: hidden;
}
/* Hide page title over header image */
div#billboard.hasimage h1 {
  display: none;
  visibility: hidden;
}
/* Block of images in sidebar, 2 columns. e.g. The static Instagram feed on the I'm New page */
div.media-grid div.left {
  float: left;
  margin: 0 .25em .5em 0;
}
div.media-grid div.right {
  float: right;
  margin: 0 0 .5em .25em;
}
div.media-grid:after {
  content: "";
  display: table;
  clear: both;
}
div.media-grid img {
  max-width: 100%;
  height: auto;
  margin-bottom: .25em;
}
/* AM/PM and other small caps */
.small-cap {
  font-variant: small-caps;
}
hr.b4 {
  color: rgba(0, 0, 0, 0.08);
}
/* Frequently Asked Questions */
ul.faqs {
  text-align: left;
}
.faq-q {
  font-weight: bold;
}
.faq-a {
  font-style: italic;
  padding-bottom: .5em;
}
/* Life Group Listing needs more space between paragraphs */
p.lifeGroup {
  padding-bottom: 1em;
  text-align: left;
}
/* Staff List */
#content ul.staff li.staff-list {
  list-style : none;
  margin-bottom: 1.5em;
  padding-right: 1em;
  min-height: 87px;
  text-align: center;
}
#content ul.staff li.staff-list a {
  font-size : 1.5em;
}
h4.staff-name {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 0;
  margin-top: .5em;
}
h6.staff-name {
  font-family: "Open Sans", sans-serif;
}
span.b4-role {
  display: inline-block;
  min-height: 2em;
  text-transform: capitalize;
}

/***************************
MEDIA QUERIES
***************************/
/* medium screen */
@media only screen and (max-device-width : 768px) {
div.media-grid {
  max-width: 300px;
}
}

/* small screen */
@media only screen and (max-device-width : 479px) {
img.left, img.right {
  padding-bottom: 1em;
}
}
/***************************
GENERIC GRID LAYOUT
***************************/
/* Generic Grid Layout */

#featured-items-sr, #featured-items-pm, #featured-items-ym, #featured-items-cm, #featured-items-op {
  margin: 3em 0;
  width: 100%;
  text-transform: capitalize;
}
#featured-items p.summary, {
 text-transform: none;
}
.featured-item.end {
  margin-right: 0;
}
.featured-item-image {
  position: relative;
  overflow: hidden;
  display: block;
  margin-bottom: 1em;
  text-decoration: none;
  width: 100%;
 *z-index: 0;
}
.featured-item-image img {
  display: block;
  z-index: 2;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}
.featured-item-image:hover img {
  z-index: 0;
}
.featured-item-image img.featured-item-image-push {
  width: 100%;
  position: relative;
}
.featured-item-description {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 92%;
  height: 88%;
  padding: 6% 4%;
}
#content .featured-item-description p {
  margin: 0;
}
.featured-item h3 {
  margin: .125em 0;
  font-weight: bold;
  font-size: 1em;
}
/* responsive iframe for video */
.video-container {
  position: relative;
  padding-bottom: 54%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* iPad and bigger screen */
@media only screen and (min-device-width : 1024px) {
.featured-item, .staff-list, div#outer-wrap div#wrap div#inner-wrap div#content.fullwidth div.content-section.dark div.content-section-inner div.container div.clearfix div.b4-three-across div.widget.featured article {
  float: left;
  width: 30.6%;
}
.featured-item, div#outer-wrap div#wrap div#inner-wrap div#content.fullwidth div.content-section.dark div.content-section-inner div.container div.clearfix div.b4-three-across div.widget.featured article {
  margin: 0 2.4% 3em 0;
}
.featured-item:nth-child(3n), .staff-list:nth-child(3n), div#outer-wrap div#wrap div#inner-wrap div#content.fullwidth div.content-section.dark div.content-section-inner div.container div.clearfix div.b4-three-across div.widget.featured article:nth-child(3n) {
  margin: 0 0 3em 0;
}
.featured-item ul.media li, #content ul.staff li.staff-list {
  margin-right: .25em;
}
.featured-item ul.media li:nth-child(3n), #content ul.staff li.staff-list:nth-child(3n), div#outer-wrap div#wrap div#inner-wrap div#content.fullwidth div.content-section.dark div.content-section-inner div.container div.clearfix div.b4-three-across div.widget.featured article:nth-child(3n) {
  margin-right: 0;
}
}

/* Medium Screens */
@media only screen and (min-device-width : 640px) and (max-device-width : 1023px) {
.featured-item, .staff-list, div#outer-wrap div#wrap div#inner-wrap div#content.fullwidth div.content-section.dark div.content-section-inner div.container div.clearfix div.b4-three-across div.widget.featured article {
  float: left;
  width: 47.0%;
  margin: 0 2.8% 3em 0;
}
.featured-item h3 {
  font-size: 1.25em;
}
.featured-item ul.media li:nth-child(odd), #content ul.staff li.staff-list:nth-child(odd), div#outer-wrap div#wrap div#inner-wrap div#content.fullwidth div.content-section.dark div.content-section-inner div.container div.clearfix div.b4-three-across div.widget.featured article:nth-child(odd) {
  margin-right: .5em;
}
.featured-item ul.media li:nth-child(even), #content ul.staff li.staff-list:nth-child(even), div#outer-wrap div#wrap div#inner-wrap div#content.fullwidth div.content-section.dark div.content-section-inner div.container div.clearfix div.b4-three-across div.widget.featured article:nth-child(even) {
  margin-right: 0;
}
}

/* Small Screens */
@media only screen and (max-device-width : 639px) {
.featured-item, .staff-list, div#outer-wrap div#wrap div#inner-wrap div#content.fullwidth div.content-section.dark div.content-section-inner div.container div.clearfix div.b4-three-across div.widget.featured article {
  float: left;
  width: 97.6%;
  margin: 0 2.4% 3em 0;
}
.featured-item ul.media li.video, .featured-item ul.media li.listen, .featured-item ul.media li.download, .featured-item ul.media li.notes, div#outer-wrap div#wrap div#inner-wrap div#content.fullwidth div.content-section.dark div.content-section-inner div.container div.clearfix div.b4-three-across div.widget.featured article {
  margin-right: .25em;
}
.item-row, .featured-item li, div#outer-wrap div#wrap div#inner-wrap div#content.fullwidth div.content-section.dark div.content-section-inner div.container div.clearfix div.b4-three-across div.widget.featured article {
  margin-bottom: 2em;
  width: 100%;
}
}
/***************************
CELEBRATION PAGE LAYOUT
***************************/
div.celebrate-photo {
  width: 100%;
  max-width: 1024px;
}
div.celebrate-photo img {
  max-width: 480px;
  width: 47%;
  clear: none;
}
div.celebrate-photo img.left {
  padding-right: 0;
  margin-right: 1.5%;
}
div.celebrate-photo img.right {
  padding-left: 0;
  margin-left: 1.5%;
}
p.resp1, p.resp3, p.resp5, p.resp7, p.resp9, p.resp11 {
  color: #000;
  display: inline-block;
  float: left;
}
p.resp2, p.resp4, p.resp6, p.resp8, p.resp10, p.resp12 {
  color: #444;
  display: inline-block;
  float: left;
}
/*********************
Christmas, RNM, FDC 
*********************/
/* glass bock whilst monk works on the template */
p.gb-200 {
  display: block;
  height: 200px;
}

/**********************************
Two Across Featured Links
and other small items: screen > 600
**********************************/
@media only screen and (min-device-width : 600px) {
div.two-across {
  width: 100%;
  margin-top: 2em;
}
div#content.fullwidth div.content-section div.content-section-inner div.container div.two-across div.widget.featured article.pos-1, div#content.fullwidth div.content-section div.content-section-inner div.container div.two-across div.widget.featured article.pos-2, div#content.fullwidth div.content-section div.content-section-inner div.container div.two-across div.widget.featured article.pos-3, div#content.fullwidth div.content-section div.content-section-inner div.container div.two-across div.widget.featured article.pos-4 {
  width: 47%;
  margin: 0 0 2em 0;
}
div#content.fullwidth div.content-section div.content-section-inner div.container div.two-across div.widget.featured article.pos-1 a, div#content.fullwidth div.content-section div.content-section-inner div.container div.two-across div.widget.featured article.pos-2 a, div#content.fullwidth div.content-section div.content-section-inner div.container div.two-across div.widget.featured article.pos-3 a, div#content.fullwidth div.content-section div.content-section-inner div.container div.two-across div.widget.featured article.pos-4 a {
  max-width: 500px;
}
div#content.fullwidth div.content-section div.content-section-inner div.container div.two-across div.widget.featured article.pos-1, div#content.fullwidth div.content-section div.content-section-inner div.container div.two-across div.widget.featured article.pos-3 {
  float: left;
}
div#content.fullwidth div.content-section div.content-section-inner div.container div.two-across div.widget.featured article.pos-2, div#content.fullwidth div.content-section div.content-section-inner div.container div.two-across div.widget.featured article.pos-4 {
  float: right;
}
div.two-across div.widget.featured article.pos-1 a, div.two-across div.widget.featured article.pos-3 a {
  float: right;
  margin-left: 2.5em;
}
div.two-across div.widget.featured article.pos-2 a, div.two-across div.widget.featured article.pos-4 a {
  float: left;
  margin-right: 2.5em;
}
}
/* Two Across Featured Links, Three Across Featured Links
and other small items ALL devices */
div.two-across div.widget.featured article a span {
  display: none;
  visibility: hidden;
}
div.b4-three-across div.widget.featured article a span {
  text-shadow: 1px 1px 1px #000;
}